
<mat-toolbar color="primary" *ngIf="isLoggedIn">
  <mat-toolbar-row>
    <img src="/assets/icons/icon-72x72.png" />
    <span>{{title}}</span>
    <span class="spacer"></span>
    <button mat-icon-button *ngIf="(reviews$ | async) as reviews" (click)="openReviews(reviews)">
      <mat-icon [matBadge]="reviews.length" [matBadgeHidden]="reviews.length == 0" matBadgeColor="warn">notifications_none</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container" *ngIf="isLoggedIn">
  <div class="action-container" fxLayout="row" fxLayoutGap="16px">
    <mat-form-field fxFlex>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Braxton Brewery" #input>
    </mat-form-field>
    <div>
      <button mat-flat-button color="primary" (click)="refresh()">Force Refresh</button>
    </div>
  </div>
  <div class="table-container">
    <table mat-table matSort multiTemplateDataRows [dataSource]="dataSource" class="mat-elevation-z8" matSortDirection="desc">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Last Visited </th>
        <td mat-cell *matCellDef="let element"> {{element.lastUpdated}} </td>
      </ng-container>
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columns.length">
          <div class="brewery-timeline" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'" fxLayout="column" *ngIf="(timeline$ | async) as timeline">
            <span><h4 class="timeline-title">Your Visits</h4></span>
            <div *ngFor="let item of timeline; let i = index">
              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px" class="timeline">
                <button mat-mini-fab color="accent">
                  <mat-icon>event</mat-icon>
                </button>
                <div fxLayout="column" fxFlex>
                  <h4>{{timelineDisplay[i].title}}</h4>
                  <p>{{timelineDisplay[i].start}} - {{timelineDisplay[i].end}} &bull; {{timelineDisplay[i].duration}}</p>
                </div>
                <div>
                  <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="modifyTimeline(element, item, timeline)">
                      <mat-icon>edit</mat-icon>
                      <span>Modify</span>
                    </button>
                    <button mat-menu-item (click)="removeTimeline(element, item, timeline)">
                      <mat-icon>delete</mat-icon>
                      <span>Remove</span>
                    </button>
                  </mat-menu>
                </div>
              </div>
            </div>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
      <tr mat-row *matRowDef="let element; columns: columns;" (click)="getExpandedElement(element)" class="row"></tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No brewery matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[15, 25, 50, 100]"></mat-paginator>
  <eco-fab-speed-dial>
    <eco-fab-speed-dial-trigger [spin]="true">
      <button mat-fab><mat-icon class="spin180">add</mat-icon></button>
    </eco-fab-speed-dial-trigger>

    <eco-fab-speed-dial-actions>
      <button mat-mini-fab (click)="addTimeline()"><mat-icon>timeline</mat-icon></button>
      <button mat-mini-fab><mat-icon>add_business</mat-icon></button>
    </eco-fab-speed-dial-actions>
  </eco-fab-speed-dial>
  <div class="loading-spinner" *ngIf="isLoading">
    <mat-spinner color="accent"></mat-spinner>
  </div>
</div>
