.container {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.mat-table {
  max-width: 100%;
  width: 100%;
}

tr.detail-row {
  height: 0;
}

.table-container {
  margin-top: 10px;
  max-height: calc(100vh - 275px);
  overflow: auto;
}

.row td {
  border-bottom-width: 0;
}

.row:hover {
  cursor: pointer;
  position: relative;
}

.mat-toolbar-row img {
  width: 50px;
}

.brewery-timeline {
  display: flex;
  overflow: hidden;
  position: relative;
  .timeline-title {
    border-bottom: 1px solid white;
    display: inline-block;
    margin-bottom: 4px;
  }
  &:before {
    background-color: grey;
    bottom: 10px;
    content: "";
    left: 12px;
    position: absolute;
    top: 38px;
    width: 15px;
  }
}

thead {
  position: absolute;
  top: 0;
}

.timeline {
  h4 {
    margin-bottom: 0;
  }
  p {
    color: lighten(grey, 25%);
  }
}

.loading-spinner {
  background-color: rgba(black, 0.6);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;

  .mat-spinner {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

eco-fab-speed-dial {
  position: absolute;
  bottom: 24px;
  right: 24px;
}

mat-toolbar a {
  color: white;
  text-decoration: none;
}
