@import "@angular/material/theming";
@import "variables.scss";
@include mat-core();

$primary: mat-palette($mat-purple);
$accent: mat-palette($mat-green);
$warn: mat-palette($mat-red);

$dark-primary: mat-palette($mat-purple, 700, 500, 900);
$dark-accent: mat-palette($mat-green, A200, A100, A400);
$dark-warn: mat-palette($mat-red);

$theme: mat-light-theme($primary, $accent, $warn);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

@include angular-material-theme($dark-theme);

html,
body {
  min-height: 100%;
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-home,
app-admin,
app-root {
  display: block;
  height: 100%;
}

app-admin,
app-home {
  background-color: #303030;
  display: flex;
  flex-direction: column;
}

.mat-input-element {
  color: white !important;
}

.spacer {
  flex: 1 1 auto;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.auth-backdrop {
  background-color: lighten(black, 15%);
}

app-reviews-dialog .mat-list-item-content {
  padding: 0 !important;
}

.timepicker-backdrop-overlay{
  z-index: 1000 !important;
}

.timepicker-overlay{
  z-index: 1000 !important;
}

.mat-paginator-container {
  flex-wrap: nowrap;
  white-space: nowrap;
}

.mat-paginator-range-label {
  margin-right: 8px !important;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
