<mat-toolbar color="transparent">
  <mat-toolbar-row>
    <span class="spacer"></span>
    <a mat-icon-button href="admin">
      <mat-icon>person</mat-icon>
    </a>
  </mat-toolbar-row>
</mat-toolbar>
<div fxFlex *ngIf="brewery$ | async as brewery" fxLayoutAlign="center center">
  <div [ngClass]="{'loaded': !isLoading}" class="brewery-container">
    <div *ngIf="brewery.length">
      <mat-card>
        <mat-card-content>
          <h2>Braxton's <span class="underline">is</span> at {{brewery[0].name}}! 🍻</h2>
          <p>{{brewery[0].address}}</p>
          <a href="https://www.google.com/maps/search/?api=1&query={{brewery[0].name}} {{brewery[0].address}}" target="_blank">
            <img src="https://maps.googleapis.com/maps/api/staticmap?center={{brewery[0].location._lat}},{{brewery[0].location._long}}&zoom=18&size=600x300&maptype=roadmap&markers=color:red%7Clabel:C%7C{{brewery[0].location._lat}},{{brewery[0].location._long}}&key=AIzaSyDgiyC2qlZIZy7rPNWTMcUj44g48rIbWtk" />
          </a>
          <p class="lastUpdated">About {{getLastUpdated(brewery[0])}} Ago</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div *ngIf="!brewery.length">
      <h2>Braxton's <span class="underline">not</span> at a brewery! 😱</h2>
    </div>
  </div>
</div>
